@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

:root {
  --font-arabic: 'Amiri', serif;
}

body {
  @apply bg-cream text-gray-800;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

